<h1>What To-Do</h1>
<div class="jumbotron">
<div class="row">
  	<div class="col-md-4"><%= image_tag("todo-logo-large.png", width: '100%', alt: "To-Do Logo")%></div>
  	<div class="col-md-8">
  		<h4>Having trouble keeping track of your tasks?</h4>
  		<h4>Here's an easy to use mobile app meant to help organize your life</h4>
  		<h4>Just signup and have some fun</h4>
  		<h4>Any questions? <a href="mailto:webmaster@evanamccullough.com">Send an email</a></h4>
  	</div>
</div>
</div>
