
<% if current_user %>
	<% if current_user.sign_in_count == 1 %>
		<h3>Getting Started</h3>
		<p>To get started, navigate to the menu bar and select "Create A Task". Fill out the form there and then your task will be listed below. Expect to recieve an email when reminders and due dates are set!</p>
		<p>&nbsp;</p>
		<h3>Add to Home Screen Instructions</h3>
		<h4>If iPhone/iPad User</h4>
		<p>Be sure to add this app to your home screen using the Share Arrow at the bottom of Safari</p>
		<h4>If Android User</h4>
		<p>Be sure to add this app to your home screen by going to Chrome Start Menu and selecting "Add to home screen"</p>
	<% end -%>
<p style="text-align:center;"><button id="togglecalendar" class="btn btn-primary">Hide Calendar</button></p>
<div class="row">
  	<div class="col-md-4">
		<div id='calendar'></div>
	</div>
  	<div class="col-md-8" id="tasks-all">
  		<%= render 'tasks/index' %>
  	</div>
</div>
<% else %>
	<%= render 'static_pages/index' %>
<% end %>