/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap
 *= require bootstrap-theme


 *= require_tree .
  */
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('https://netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.eot');
  src: url('https://netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
  url('https://netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.woff') format('woff'),
  url('https://netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
  url('https://netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}


#incompleted-tasks {
  border-bottom: 2px solid #C0C0C0;
}
#completed-tasks {
  font-style: italic;
}





#body {
	margin: 0 10px;
}
.right {
    text-align: right;
    margin-top: -5px;
    float: right;
}
.navbar-orange {
  background-color: #f3bc87;
  border-color: #892820;
}

.navbar-orange .navbar-brand {
  color: black;
}

.navbar-orange .navbar-brand:hover,
.navbar-orange .navbar-brand:focus {
  color: #ffffff;
  background-color: transparent;
}

.navbar-orange .navbar-text {
  color: #999999;
}

.navbar-orange .navbar-nav > li > a {
  color: black;
}

.navbar-orange .navbar-nav > li > a:hover,
.navbar-orange .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: transparent;
}

.navbar-orange .navbar-nav > .active > a,
.navbar-orange .navbar-nav > .active > a:hover,
.navbar-orange .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #080808;
}

.navbar-orange .navbar-nav > .disabled > a,
.navbar-orange .navbar-nav > .disabled > a:hover,
.navbar-orange .navbar-nav > .disabled > a:focus {
  color: #444444;
  background-color: transparent;
}

.navbar-orange .navbar-toggle {
  border-color: #333333;
}

.navbar-orange .navbar-toggle:hover,
.navbar-orange .navbar-toggle:focus {
  background-color: #ea6c64;
}

.navbar-orange .navbar-toggle .icon-bar {
  background-color: #892820;
}

.navbar-orange .navbar-collapse,
.navbar-orange .navbar-form {
  border-color: #101010;
}

.navbar-orange .navbar-nav > .open > a,
.navbar-orange .navbar-nav > .open > a:hover,
.navbar-orange .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #892820;
}

/* http://www.colorschemer.com/schemes/viewscheme.php?id=4360

#892820 - maroon
#ea6c64 - pinkish
#f3bc87 - light orange
#bec9c7 - green grey
#dddbdc - grey/silver */
